body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #121212;
  color: #eee;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  color: #f44336;
}

#game {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
}

.table {
  display: inline-block;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #555;
  padding: 8px 12px;
}

.correct {
  color: #4caf50;
}
.partial {
  color: #03a9f4;
}
.incorrect {
  color: #f44336;
}

#legend {
  margin-top: 30px;
  text-align: left;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: #222;
  padding: 10px;
  border-radius: 8px;
}

#legend h3 {
  cursor: pointer;
  margin: 0;
}
#legend-content {
  display: none;
  margin-top: 10px;
}

/* Autocomplete dropdown styles */
.autocomplete-items {
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 99;
  top: 40px; /* adjust based on input height */
  left: 0;
  right: 0;
  background-color: #222;
  max-height: 150px;
  overflow-y: auto;
  color: #eee;
  box-sizing: border-box;
}

.autocomplete-items div {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  background-color: #444;
}
